extends ./layouts/layout.jade

block content
	div.container
		div.mbottom
			
			h1.title Gulpfile 1.0! 
			div.subBG
				p.subtitle Bootstrap for projects
			
			hr
			p ECMAScript 6 Compiler | Jade - PUG Compiler | SCSS &amp; Stylus Compiler
			p
				img.img(src="./imgs/github.png")
				a(href="https://github.com/glaucofox/gulpfile" target="_blank") Get on GitHub&reg;